* {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
}
body {
      background-color: rgb(53, 53, 53);
}
#PrincipalPage {
      width: 100%;
      height: 100%;
}
#headerPP {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 80px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
}
#MenuBtn {
      position: absolute;
      right: 0;
      width: 80px;
      height: 80px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
}
#mainPP {
      width: 100%;
      height: 100%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
}
.TitluPP {
      position: fixed;
      top: 30%;
      width: 40%;
      height: 40px;
      max-width: 200px;
      background-color: transparent;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
}
#SearchINP {
      position: fixed;
      top: 40%;
      color: white;
      width: 70%;
      max-width: 450px;
      height: 40px;
      background-color: rgb(53, 53, 53);
      border-radius: 10px;
      font-size: 18px;
      border: 2px solid grey;
      caret-color: rgb(80, 80, 255);
}
#SearchMenu {
      width: 100%;
      height: 100%;
      background-color: rgb(53, 53, 53);
}
#headerSM {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color:rgb(53, 53, 53) ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid grey;
}
#Searchinp {
      color: white;
      width: 70%;
      max-width: 450px;
      height: 40px;
      background-color: rgb(32, 32, 32);
      font-size: 18px;
      border: none;
      border-left: 2px solid grey;
      caret-color: rgb(80, 80, 255);

}
*:focus {
      outline:none;
}
#backPP {
      position: absolute;
      left: 10px;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
}
#list {
      position: absolute;
      top: 62px;
      width: 100%;
      max-width: 300px;
      height: 100px;
      background-color: transparent;
      display: grid;
      gap: 5px;
}#mainSM {
      width: 100%;
      height: 100%;
      background-color: rgb(53,53,53);
      display: flex;
      justify-content: center;
      align-items: center;
}
#elemnt1 {
      width: 100%;
      height: 50px;
      background-color: rgb(37, 37, 37);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
}
#elemnt1:hover {
      border-left: 2px solid grey;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
}
li {
      list-style: none;
}
#searchrezult {
      width: 100%;
      height: 100%;
      background-color: rgb(53,53,53);
}
#headerSR {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 120px;
      background-color: rgb(32, 32, 32);
      display: flex;
      justify-content: center;
      align-items: center;
}
#mainSR {
      width: 100%;
      height: 100%;
      background-color: rgb(53,53,53);
      display: flex;
      justify-content: center;
      align-items: center;
}
.titluHSR {
      position: absolute;
      top: 10px;
      width: 40%;
      height: 40px;
      max-width: 200px;
      background-color: transparent;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
}
#inpSR {
      position: absolute;
      top: 60px;
      width: 80%;
      height: 40px;
      background-color: rgb(53,53,53);
      border-radius: 5px;
      border: none;
      caret-color: rgb(80, 80, 255);
      color: white;
      font-size: 20px;
}
.Postari {
      position: absolute;
      top: 130px;
      width: 100%;
      height: 100%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
}
#link {
      position: absolute;
      top: 10px;
      width: 90%;
      max-width: 400px;
      height: 200px;
      background-color: rgb(32, 32, 32);
      border-radius: 5px;
      cursor: pointer;
}
#link2 {
      position: absolute;
      top: 220px;
      width: 90%;
      height: 200px;
      background-color: rgb(32, 32, 32);
      border-radius: 5px;
}
#Substantivul {
      width: 100%;
      height: 100%;
      background-color: rgb(53,53,53);
}
#headerSub {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 150px;
      background-color: rgb(32, 32, 32);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
}
#mainSub {
      width: 100%;
      height: 100%;
      background-color: rgb(53, 53, 53);
      display: flex;
      justify-content: center;
      align-items: center;
}
#navA1 {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
}
#backPr {
      position: absolute;
      left: 10px;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
}
.titluA1 {
      position: absolute;
      top: 60px;
      width: 80%;
      height: 60px;
      background-color: transparent;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 22px;
      color: white;
}
.titluB1 {
      position: absolute;
      left: 5px;
      top: 5px;
      width: 80%;
      height: 40px;
      background-color: transparent;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 20px;
      color: white;
}
.descrieereB1 {
      position: absolute;
      left: 5px;
      bottom: 10px;
      width: 80%;
      height: 120px;
      background-color: transparent;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 20px;
      color: white;
}
.textA1 {
      position: absolute;
      top: 200px;
      width: 80%;
      max-width: 600px;
      height: 600px;
      background-color:transparent;
      color: white;
      font-size: 20px;
}
#menuPP {
      position: absolute;
      right: 0px;
      width: 100%;
      height: 100%;
      max-width: 400px;
      background-color: rgb(44, 44, 44);
}
#menuHeaderPP {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
}
#MenuClosePP {
      position: absolute;
      left: 10px;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
}
#MenuTitluPP {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: left;
      align-items: center;
      color: white;
}
.titluMenuPP {
      width: 100px;
      height: 40px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 20px;
}
#mainMenuPP {
      width: 100%;
      height: 100%;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
}
.zonebtnMenuPP {
      position: absolute;
      top: 120px;
      width: 80%;
      height: 400px;
      background-color: transparent;
}
#btnHome {
      transition: 0.5s;
      position: absolute;
      width: 100%;
      height: 50px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
}
#btnInfo {
      transition: 0.5s;
      position: absolute;
      top: 60px;
      width: 100%;
      height: 50px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
}
#btnSettings {
      transition: 0.5s;
      position: absolute;
      top: 120px;
      width: 100%;
      height: 50px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
}
#btnHome:hover {
      transition: 0.5s;
      background-color: grey;
}
#btnSettings:hover {
      transition: 0.5s;
      background-color: grey;
}
#btnInfo:hover {
      transition: 0.5s;
      background-color: grey;
}
.BTNIconHome {
      position: absolute;
      left: 5px;
      width: 45px;
      height: 45px;
      background-color: rgb(255, 131, 74);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
}
.BTNIconInfo {
      position: absolute;
      left: 5px;
      width: 45px;
      height: 45px;
      background-color: rgb(74, 137, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
}
.BTNIconSettings {
      position: absolute;
      left: 5px;
      width: 45px;
      height: 45px;
      background-color: rgb(99, 99, 99);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
}
.textBtnHome {
      width: 200px;
      height: 40px;
      background-color:transparent;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 18px;
      color: white;
}
.textBtnInfo {
      width: 200px;
      height: 40px;
      background-color:transparent;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 18px;
      color: white;
}
.textBtnSettings {
     width: 200px;
      height: 40px;
      background-color:transparent;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 18px;
      color: white; 
}
.infoMenu {
      width: 80%;
      height: 40px;
      background-color: rgb(37, 37, 37);
      border-radius: 5px;
      position: absolute;
      bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
}
#SettingsOpen {
      position: absolute;
      right: 0px;
      width: 100%;
      height: 100%;
      max-width: 400px;
      background-color: rgb(44, 44, 44);
}
#headerSetari {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
}
#mainSetari {
      width: 100%;
      height: 100%;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
}
#SettingsClosePP {
      position: absolute;
      left: 10px;
      width: 45px;
      height: 45px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 50%;
}
#SettingsClosePP:hover {
      background-color: rgb(53, 53, 53);
}
#headerSettings {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
}
.textHS {
      position: absolute;
      left: 3px;
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 20px;
}
.btnZoneSetings {
      position: absolute;
      top: 120px;
      width: 80%;
      height: 400px;
      background-color: transparent;
}
#btnVer {
      transition: 0.5s;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
}
#btnVer:hover {
      transition: 0.5s;
      background-color: grey;
}

.BTNIconVer {
      position: absolute;
      left: 5px;
      width: 45px;
      height: 45px;
      background-color: rgb(116, 176, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      transition: 0.5s;
}
.textBtnHome {
      width: 200px;
      height: 40px;
      background-color:transparent;
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 18px;
      color: white;
}
#VersionOpen {
      position: absolute;
      right: 0px;
      width: 100%;
      height: 100%;
      max-width: 400px;
      background-color: rgb(44, 44, 44);
      overflow-y: auto;
}
#InfoOpen {
      position: absolute;
      right: 0px;
      width: 100%;
      height: 100%;
      max-width: 400px;
      background-color: rgb(44, 44, 44);
      overflow-y: auto;
}
#InfoHeader {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
}
#headerVer {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
}
#mainVer {
      width: 100%;
      height: 100%;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
}
#mainINfo {
      width: 100%;
      height: 100%;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
}
#VersionClosePP {
      position: absolute;
      left: 10px;
      width: 45px;
      height: 45px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 50%;
}
#InfoClosePP {
      position: absolute;
      left: 10px;
      width: 45px;
      height: 45px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 50%;
}
#VersionClosePP:hover {
      background-color: rgb(53, 53, 53);
}
#InfoClosePP:hover {
      background-color: rgb(53, 53, 53);
}
#headerVErsion {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
}
#InfoInfoInfo {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 50px;
      background-color: rgb(44, 44, 44);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
}
.textHV {
      position: absolute;
      left: 3px;
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 20px;
}
.textInfo {
      position: absolute;
      left: 3px;
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 20px;
}
.TextZVZO {
      position: absolute;
      top: 120px;
      width: 80%;
      height: 500px;
      background-color: transparent;
}
.infoINfoZ {
      position: absolute;
      top: 120px;
      width: 80%;
      height: 400px;
      background-color: transparent;
      color: white;
}
.Verion {
      width: 100%;
      height: 50px;
      background-color: transparent;
      border-radius: 5px;
      color: rgba(255, 255, 255, 0.61);
      font-size: 20px;
      display: flex;
      justify-content: left;
      align-items: center;
}
.NewsV {
      position: absolute;
      top: 60px;
      width: 100%;
      height: 60px;
      background-color: transparent;
      border-radius: 5px;
      color: rgb(133, 133, 133);
      font-size: 15px;
      display: flex;
      justify-content: left;
}
.VersionZ {
      width: 100%;
      height: 140px;
      background-color: transparent;
      border-radius: 5px;
}
.InfoUsers {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 100px;
      background-color: rgb(32, 32, 32);
      color: white;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
}